.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-weight: 600;
}

body {
    background: url("assets/BG/background.jpg");
    width: 100%;
    height: 100dvh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100dvh;
    background: rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
}

.logo {
    position: absolute;
}

/* Main container */

.home-frame {
    border: solid;
    width: 1000px;
    height: 700px;
    z-index: 1;
    background: linear-gradient(to top, rgb(0, 0, 0, 0.15), 
                rgb(255, 255, 255, 0.15));
    border-radius: 12px;
    backdrop-filter: blur(100px);
    padding: 20px;
}

/* Resusable utilities class */

.regular-frame {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

/* Input frames */

.input-frame {
    position: relative;
    margin-bottom: 25px;
    width: 60%;
    margin: auto;
}

.city-frame {
    margin-top: 30px;
    height: 50px;
    width: 100%;
    padding: 10px 16px;
    border-radius: 99px;
    border: 3px solid transparent;
    color: white;
    background: rgb(0, 0, 0, 0.15);
    outline: none;
    font-size: 16px;
    font-weight: 500;
    transition: 0.25s border;
    padding-right: 45px;
}

.city-frame:focus {
    border: 3px solid rgb(0, 0, 0, 0.15);
}

.city-frame::placeholder {
    color: rgb(255, 255, 255, 0.75);
}

.search-button {
    margin-top: 17px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    display: flex;
    border: none;
    cursor: pointer;
}

/* Disease prediction frames */
.disease-prediction {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}

.disease {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.disease-img {
    margin-left: auto;
    margin-right: auto;
}

.disease-name {
    margin-top: 10px;
    font-size: 20px;
}

.disease-percentage {
    font-size: 20px;
    margin-top: 2px;
}

.disease-text a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 170px;
}

.link-icon {
    margin-top: 10px;
    margin-left: 5px;
}

/* Weather information frames */
.container {
    display: flex;
    gap: 20px;
}

.weather-information {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow-y: auto;
    max-height: 550px;
    padding: 15px; 
}

.weather-information > * {
    flex-shrink: 0; 
}

.weather-information::-webkit-scrollbar {
    height: 8px;
}

.weather-information::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.05);
    border-radius: 99px;
}

.weather-information::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

#weather-text {
    font-size: 30px;
    font-weight: bold;
}

.location-and-date-frame {
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.location-frame {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 6px;
}

.location-text{
    display: flex;
    font-size: 30px;
}

.curr-date-frame {
    font-size: 1.4em;
    display: flex;
    align-items: center;
    gap: 6px;
}

.curr-date-text {
    display: flex;
    font-size: 30px;
    margin-top: 10px;
}

.weather-summary-frame {
    align-items: center;
    width: 350px;
}

.weather-summary-img {
    width: 180px;
    height: 180px;
}

.weather-conditions-frame {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.condition-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.condition-item span {
    font-size: 10px;
}

.temp-frame{
    font-size: 18px;
}

.humidity-value-frame{
    font-size: 18px;
}

.wind-value-frame{
    font-size: 18px;
}

/* Weather forecast frames */

.forecast-items-frame {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    margin-left: 15px;
    padding-bottom: 12px;
    overflow-x: scroll;
}

.forecast-items-frame::-webkit-scrollbar {
    height: 8px;
}

.forecast-items-frame::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0.05);
    border-radius: 99px;
}

.forecast-items-frame::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 99px;
}

.forecast-item {
    height: 250px;
    min-width: 200px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s background;
}

.forecast-item:hover {
    background: rgb(255, 255, 255, 0.15);
}

.forecast-item-img {
    width: 110px;
    height: 110px;
}

.forecast-item-temp{
    font-size: 20px;
}

/* Message frames */

.section-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    gap: 40px;
    margin-top: 50px;
}

.section-message img {
    position: relative;
    height: 250px;
    width: fit-content;
}

p {
    text-align: center;
}